@import "colorschemes/everforest.css";

* {
  border: none;
  font-family: CommitMono Nerd Font;
  font-size: 20px;
  min-height: 32px;
}

window#waybar {
  background-color: transparent;
  color: #d3c6aa;
}

tooltip {
  background: #1e2326;
  border-color: #272e33;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
}

#backlight,
#cpu,
#custom-swaync,
#custom-weather,
#memory,
#network,
#pulseaudio,
#tray,
#clock,
#window,
#mpris,
#workspaces {
  background: #272e33;
  border-radius: 8px;
  border: 1px solid #272e33;
  font-weight: 600;
  margin: 6px 0 6px 0;
  padding: 3.5px 16px;
}

#tray {
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#workspaces {
  font-weight: Bold;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 3.5px;
  padding-right: 3.5px;
}

#workspaces :nth-child(5) {
  margin-right: 0px;
}

#workspaces button {
  border-radius: 6px;
  color: #495156;
  padding: 6px;
  margin-right: 5px;
}

#workspaces button.active {
  background: #a7c080;
  color: #272e33;
}

#workspaces button.focused {
  background: #a7c080;
  color: #272e33;
}

#workspaces button.urgent {
  background: #e67e80;
  color: #272e33;
}

#workspaces button:hover {
  background: #272e33;
  color: #a7c080;
}

#window {
  background: transparent;
  border-radius: 10px;
  margin-left: 60px;
  margin-right: 60px;
}

#cpu,
#memory {
  color: #e69875;
}

#cpu {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 0;
}

#memory {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#mpris {
  color: #a7c080;
  margin-left: 10px;
}

#clock {
  color: #e67e80;
  font-weight: 600;
  margin-right: 10px;
}

#custom-swaync {
  color: #e69875;
  margin-right: 10px;
  padding-right: 18px;
}

#custom-weather {
  color: #a7c080;
  margin-right: 10px;
}

#network {
  color: #dbbc7f;
  margin-right: 10px;
}

#pulseaudio {
  color: #83c092;
  margin-right: 10px;
}
