@import 'colorschemes/everforest.css';

* {
	border: none;
	font-family: "JetBrains Mono Nerd Font Propo";
	font-size: 11px;
	min-height: 10px;

}

window#waybar {
	background:  rgba(30, 35, 38, 0.8);
	color: @color8;
}

tooltip {
	background: @base;
	border-color: @crust;
	border-radius: 10px;
	border-style: solid;
	border-width: 2px;
}


#backlight,
#cpu,
#custom-power,
#custom-swaync,
#custom-weather,
#memory,
#network,
#pulseaudio,
#tray,
#window,
#mpris,
#custom-privacy-dots,
#workspaces {
	background: @crust;
	border-radius: 8px;
	border: 1px solid @crust;
	font-weight: 600;
	margin: 6px 0 6px 0;
	padding: 3.5px 16px;
}

#tray {
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#workspaces {
	font-weight: Bold;
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 3.5px;
	padding-right: 3.5px;
}

#workspaces :nth-child(5) {
	margin-right: 0px;
}

#workspaces button {
	border-radius: 6px;
	color: @color9;
	padding: 6px;
	margin-right: 5px;
}

#workspaces button.active {
	background: @color2;
	color: @color8;
}

#workspaces button.focused {
	background: @color7;
	color: @color8;
}

#workspaces button.urgent {
	background: @color4;
	color: @color8;
}

#workspaces button:hover {
	background: @crust;
	color: @color7;
}

#window {
	background: transparent;
	border-radius: 10px;
	margin-left: 60px;
	margin-right: 60px;
}

#cpu,
#memory {
	color: @color1;
}

#cpu {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	padding-right: 0;
}

#memory {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#mpris {
	color: @color7;
	margin-left: 10px;
}

#clock {
	color: @color2;
	font-weight: 600;
}

#custom-swaync {
	color: @color1;
	margin-right: 10px;
	padding-right: 18px;
}

#custom-weather {
	color: @color2;
	margin-right: 10px;
}

#custom-privacy-dots {
	margin-right: 10px;
}

#network {
	color: @color3;
	margin-right: 10px;
}

#pulseaudio {
	color: @color5;
	margin-right: 10px;
}

#custom-power {
	color: @color4;
	margin-right: 10px;
}
