@import "./colorschemes/everforest.css";

* {
  outline: none;
  font-family: CommitMono Nerd Font;
  font-size: 21px;
  text-shadow: none;
  color: @text-color;
  background-color: transparent;
  background: transparent;
}

.control-center {
  background-color: alpha(@cc-bg, 0.8);
  border: 3px solid @noti-border-color;
  padding: 7px;
  animation: slideDown 0.3s ease-out;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* NOTE: GTK doesn't support webkit-scrollbar or scrollbar-width CSS properties */
scrollbar {
  background-color: transparent;
}
scrollbar slider {
  min-width: 2px;
  min-height: 20px;
  border-radius: 10px;
  background-color: alpha(@text-color, 0.2);
}
scrollbar slider:hover {
  background-color: alpha(@text-color, 0.3);
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
  opacity: 1;
  border-radius: 6px;
  background: transparent;
}

.control-center .notification-row .notification-background {
  border-radius: 15px;
  margin-top: 5px;
}

.control-center .notification-default-action,
.control-center .notification-action {
  background: @noti-bg;
  border: 2px solid @noti-border-color;
}

.control-center .notification-default-action:hover,
.control-center .notification-action:hover {
  background: @noti-bg-hover;
}

.notification-row {
  outline: green;
}

.notification {
  border-radius: 6px;
  margin: 4px 4px;
  box-shadow: none;
  padding: 0;
  background-color: @noti-bg;
  border: 2px solid @floating-noti-border-color;
}

.notification > *:last-child > * {
  margin: 5px;
}

.notification-content {
  border: transparent;
  padding: 1.4rem;
  border-radius: 6px;
}

.summary {
  font-size: 1rem;
  font-weight: bold;
  background: transparent;
  color: @text-color;
  text-shadow: none;
}
.time {
  font-size: 0.8rem;
  font-weight: bold;
  background: transparent;
  color: @text-color;
  text-shadow: none;
  margin-right: 18px;
}
.body {
  font-size: 1rem;
  font-weight: normal;
  background: transparent;
  color: @text-color;
  text-shadow: none;
}

.close-button {
  background: @floating-noti-close-bg;
  color: @text-color;
  text-shadow: none;
  padding: 0;
  border-radius: 100%;
  margin-top: 10px;
  margin-right: 16px;
  box-shadow: none;
  border: none;
  min-width: 24px;
  min-height: 24px;
}

.close-button:hover {
  box-shadow: none;
  background: @floating-noti-close-bg-hover;
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-default-action,
.notification-action {
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background: @floating-noti-bg;
  border: 2px solid @floating-noti-border-color;
  color: @text-color;
  transition: all 0.15s ease-in-out;
}

.notification-default-action:hover,
.notification-action:hover {
  -gtk-icon-effect: none;
  background: @floating-noti-bg-hover;
}

.notification-default-action {
  border-radius: 6px;
}

/* When alternative actions are visible */
.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-action {
  border-radius: 0px;
  border-top: none;
  border-right: none;
}

/* add bottom border radius to eliminate clipping */
.notification-action:first-child {
  border-bottom-left-radius: 6px;
}

.notification-action:last-child {
  border-bottom-right-radius: 6px;
  border-right: 1px solid @floating-noti-border-color;
}

.inline-reply {
  margin-top: 8px;
}

.inline-reply-entry {
  background: @noti-bg-darker;
  color: @text-color;
  caret-color: @text-color;
  border: 1px solid @noti-border-color;
  border-radius: 6px;
}

.inline-reply-button {
  margin-left: 4px;
  background: @noti-bg;
  border: 1px solid @noti-border-color;
  border-radius: 6px;
  color: @text-color;
}

.inline-reply-button:disabled {
  background: initial;
  color: @text-color-disabled;
  border: 1px solid transparent;
}

.inline-reply-button:hover {
  background: @noti-bg-hover;
}

.image {
}

.body-image {
  margin-top: 6px;
  background-color: white;
  border-radius: 6px;
}

.notification.critical {
  background-color: alpha(@noti-bg, 0.5);
}
.notification.low,
.notification.normal {
  background-color: alpha(@noti-bg, 0.5);
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  color: @cc-fg;
  opacity: 1;
}

.floating-notifications {
  background: transparent;
}

/* Window behind control center and on all other monitors */
.blank-window {
  background: alpha(black, 0.2);
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.notification-group-header,
.notification-group-icon {
  font-size: 0.9rem;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background-color: @noti-bg;
}
.notification-group-collapse-button:hover {
  background-color: alpha(@noti-bg-hover, 0.8);
}
.notification-group-close-all-button:hover {
  background-color: alpha(@noti-bg-hover, 0.8);
}

/*** Widgets ***/

/* Buttons Grid widget */
.widget-buttons-grid {
  background: @noti-bg;
  font-size: 2rem;
  padding: 10px 10px 10px;
  margin: 0.4rem;
  border-radius: 6px;
  border: 2px solid @noti-border-color;
}
.widget-buttons-grid > flowbox {
  max-children-per-line: 6;
  min-children-per-line: 3;
}
.widget-buttons-grid > flowbox > flowboxchild > button {
  background: @bg-selected;
  box-shadow: 0px 0px 10px alpha(@noti-bg, 0.8);
  border-radius: 12px;
  min-width: 60px;
  min-height: 30px;
  padding: 6px;
  margin: 0 3px 0;
  transition: all .5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: @noti-bg-hover;
}
.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
  background: @noti-bg-hover;
}
.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked:hover {
  background: alpha(@noti-bg-hover, 0.8);
}

/* Title widget */
.widget-title {
  margin: 0.6rem;
  margin-bottom: 1rem;
  font-size: 18px;
  font-weight: bold;
  color: @text-color;
}
.widget-title > button {
  font-size: initial;
  font-weight: bold;
  color: @text-color;
  text-shadow: none;
  background: @noti-bg;
  border: 1px solid @noti-border-color;
  border-radius: 10rem;
  padding: 5px 15px 5px 15px;
}
.widget-title > button:hover {
  background: @noti-bg-hover;
}

/* DND widget */
.widget-dnd {
  margin: 0.4rem;
  font-size: 1.1rem;
  color: @text-color;
  font-weight: bold;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 10rem;
  background: @noti-bg;
  border: 1px solid @noti-border-color;
  box-shadow: none;
}

.widget-dnd > switch:checked {
  background: @bg-selected;
}

.widget-dnd > switch slider {
  background: @dnd-slider-button;
  border-radius: 10rem;
}

.widget-dnd > switch slider:checked {
  background: @dnd-slider-button-checked;
  border-radius: 10rem;
}

/* Mpris widget */
.widget-mpris {
  margin: 0.4rem 0.4rem 0.4rem;
  margin-top: 0.4rem;
  background: @noti-bg;
  color: @text-color;
  border-radius: 6px;
  border: 2px solid @noti-border-color;
}
.widget-mpris-player {
  padding: 1rem 1rem 0 1rem;
  margin: 0;
}
.widget-mpris .widget-mpris-album-art {
  border-radius: 12px;
  box-shadow: 0px 0px 10px alpha(@noti-bg, 0.5);
}
.widget-mpris-title {
  font-weight: bold;
  font-size: 16px;
}
.widget-mpris-subtitle {
  font-size: 12px;
  margin-bottom: 1.4rem;
}

.widget-mpris > box > button {
  padding: 0;
  margin: 0;
}
.widget-mpris > box > button:hover {
  background: alpha(@noti-bg-hover, 0.6);
}

.topbar-buttons > button {
  border: none;
  background: transparent;
}

/* Volume widget */
.widget-volume {
  background-color: @noti-bg;
  color: @text-color;
  margin: 0.4rem;
  margin-bottom: 1rem;
  padding: 0.8rem 1.4rem 0.8rem 1.4rem;
  border-radius: 6px;
  border: 2px solid @noti-border-color;
  font-size: 22px;
}

.widget-volume > box > button {
  background: transparent;
  border: none;
}

.per-app-volume {
  background-color: @noti-bg;
  padding: 4px 8px 8px 8px;
  margin: 0px 8px 8px 8px;
  border-radius: 6px;
}

scale trough {
  margin: 0rem 1rem;
  background-color: @noti-bg;
  min-height: 4px;
  min-width: 70px;
}

trough slider {
  background: @bg-selected;
}
trough slider:hover {
  background: @noti-bg-hover;
}
trough highlight {
  background: @noti-bg-hover;
}

tooltip {
  background-color: @noti-bg;
}
